body {
    margin:0px;
    padding:0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
}
#logo img{
    width: 75px;
}

#end{
    display:flex;
    flex-direction: row;
    padding: 25px;
}

#end img{
    width: 28px;
}

header a{
    text-decoration: none;
    color:black;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:16px;
    padding: 15px;

}
#search_bar{
    display:flex;
    position:absolute;
    right: 150px;
}

#search_button{
    background-color: rgb(223, 223, 223);
    border:none;
    border-radius: 50%;
    position:absolute;
    right: 170px;
}
#input{
    background-color: rgb(223, 223, 223);
    border:none;
    width: 130px;
    height:35px;
    border-radius:18px;
}
::placeholder{
    padding-left: 60px;
}

/*Main body*/

a img{
    height:100%;
    width: 100%;
}

.text{
    text-align: center;
    margin:0px;
    padding:0px;
}

.text h1{
    font-size: 60px;
    font-weight: 1000;
    margin:0px;
    margin-top:15px
}
.text p{
    margin: 0px;
}

.text button{
    background-color: black;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    width: 70px;
    border: 0px;
    padding: 7px;
    border-radius: 20px;
    cursor:pointer;
    transition: 0.3s;
}
.text button:hover{
    background-color: rgb(59, 59, 59);
    width: 85px;
}

#catalog{
    display:flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
 
#catalog img{
    position:absolute;
    display:flex;
    width:50%;
}
#content{
    position:relative;
    color:white;
    top: 330px;
    left: 50px;
}
#catalog h1{
    margin-top:0;
}
#catalog h2{
    margin-bottom:0;
}

.item-2{
    
    margin-left: 508px;
   
}
.item-3{
    margin-right: 200px;
    margin-top:380px;

}
.item-4{
    margin-left: 215px;
    margin-top:380px;

}

#content button{
    font-weight: bold;
    width: 90px;
    border: 0px;
    padding: 10px;
    border-radius: 20px;
    cursor:pointer;
    transition: 0.5s;
}
#content button:hover{
    background-color: rgb(0, 0, 0);
    border: solid 1px;
    border-color: white;
    color:white;
    transform:scale(1.2);
}